.container {
    position: relative;
    width: 100vw;
    height: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.back {
    width: 100vw;
    height: 80vw;
    filter: brightness(.8);
}

.logo {
    position: absolute;    
}

@media (min-width:600px) {
    .back {
        display: none;
    }    
    .container {
        height: 100px;
    }
}
/* @media (min-width:1024px) {
    .container{
        display: none;
    }
} */
